<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if logged_in? %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Festivals', festivals_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add Festival', new_festival_path, class:"nav-link" %>
        </li>
        <li class="nav-item"> 
          <%= link_to 'My Festivals', root_path, class:"nav-link" %>
        </li>
        </ul>
        <% end %>
      <% if !logged_in? %>
      <ul class="nav justify-content-end btn btn-warning">
        <li class="nav-item"> 
          <%= link_to "Sign Up", signup_path, class:"nav-item" %> </li>
      </ul>
     
      <div>
      <ul class="nav justify-content-end btn btn-warning">
        <li class="nav-item"> 
          <%= link_to "Log In", login_path, class:"nav-item" %> </li>
      </ul>
       <% end %>
      <% if logged_in? %>
      <ul class="nav justify-content-end btn btn-warning">
        <li class="nav-item"> 
          <%= link_to "Log Out", logout_path, method: "delete", class:"nav-item" %> </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>